.rightbar{
	flex:3;
	height: calc(100vh - 50px);
	overflow-y: scroll;
	position: sticky;
	top: 50px;
	max-width: 304px;

	&::-webkit-scrollbar {width: 5px;}
	&::-webkit-scrollbar-track {background-color: #f1f1f1;}
	&::-webkit-scrollbar-thumb {background-color: rgb(179, 179, 179);}


	.rightbar-wrapper{
		margin: 30px;	
		.rightbar-top{
			display: flex;
			align-items: center;
			.birthday-img{
				height: 70px;
			}
			.birthday-text{

			}
		}

		.rightbar-center{
			.rightbarCenterImgContainer{
				.rightbar-ad{
					width: 100%;
					height: 100%;
					border-radius: 20px;
					margin:30px 0;
				}
			}
		}
		
		.rightbar-bottom{
			.heading{
				display: block;
				font-size: 22px;
				font-weight: 700;
			}
			.online-friend-list{
				list-style: none;
				padding: 0%;
				
			}
		}
	}
}

.showRightbar{
	transform: translateX(0);
	transition:cubic-bezier(0.19, 1, 0.22, 1);
	transition-duration: 1s;
}
.hideRightbar{
	transform: translateX(100%);
	transition:cubic-bezier(0.19, 1, 0.22, 1);
	transition-duration: 1s;
	//display:none donot give transition effect so postion absoulute but the sticky also => fixed
} 
.hero-container{
	overflow-x: hidden;
}
.caret-rightbar{
	position: fixed;
	top: 50vh;
	right: 25px;
	z-index: 5;
} 

@media only screen and (max-width: 600px) {
	.rightbar{
		position:fixed;  
		top: 0;
		right: 0;
		background: white;
		height: 100vh;
		width: 100%;
		z-index: 4;
	}
  }