@import "../variables scss/variable";

.sidebar{
	flex:2;
	height: calc(100vh - 50px);
	overflow-y: scroll;
	position: sticky;
	top: 50px;
	max-width: 304px; 
	&::-webkit-scrollbar {width: 5px;}
	&::-webkit-scrollbar-track {background-color: #f1f1f1;}
	&::-webkit-scrollbar-thumb {background-color: rgb(179, 179, 179);}

	.sidebar-wrapper{
		margin: 30px;
		// all item are under wrapper but not written here under wrapper 
	}
	.menu-list{
		list-style: none;
		padding: 0%;
		.menu-list-item{
			display: flex;
			align-items: center;
			margin: $item-my 0;
			&:hover{
				cursor: pointer;
				color: rgb(5, 24, 201);
				transform: scale(1.1);
				font-weight: 500;
			}
			.menu-list-text{
				font-size: $text-font;
				margin-left: $text-ml;
			}
		}
	}

	button{
		width: 100%;
		font-size: 16px;
		padding: 10px;
		border:none;
		border-radius: 10px;
		color: rgb(255, 255, 255);
		background-color: blue;
		cursor: pointer;
		&:hover{
			background-color: rgba(8, 8, 133, 0.959); 
		}
	}
	hr{
		margin: 10px;
	}

	.friend-list{
		.heading{
			text-align: center;
			margin: 10px;
			color: blue;
		}
		.friend-list-item{
			// css in CloseFriend another component
		}
	}
}


.showSidebar{
	transform: translateX(0);
	transition:cubic-bezier(0.19, 1, 0.22, 1);
	transition-duration: 1s;
}
.hideSidebar{
	transform: translateX(-100%);
	transition:cubic-bezier(0.19, 1, 0.22, 1);
	transition-duration: 1s;
	//display:none donot give transition effect so postion absoulute but the sticky also => fixed
} 
.caret-sidebar{
	position: fixed;
	top: 50vh;
	z-index: 5;
} 

@media only screen and (max-width: 600px) {
	.sidebar{
		position:fixed;  
		left: 0;
		background: white;
		height: 100vh;
		width: 100%;
		z-index: 4;
	}
  }