.profile-rightbar{
	flex: 3.5;
	.profile-rightbar-wrapper{
		padding: 20px;
		.show-all{
			width: 100%;
			font-size: 0.9rem;
			padding: 10px;
		}

		.follow-btn{
			padding: 5px;
			background-color: blue;
			border: none;
			font-size: 1.1rem;
			color: white;
			cursor: pointer;
		}
		.user-info{
			.info{
				margin: 10px;
				font-size: 18px;
				font-weight: 300;
				b{

				}
			}
		}
		hr{
			margin: 20px;
		}
		.user-friend-container{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			.user-friend-item{
				// in the CloseFriend component 
			}
		}

	}
}
.title{
	margin: 10px 0;
	font-size: 20px;
	font-weight: 500;
	color: blue;
}