.friend-menu{
	display: flex;
	flex-wrap: wrap;
	.friend-menu-item{
		display: flex;
		flex-wrap: wrap;
		background-color: rgb(94, 79, 221);
		border-radius: 20px;
		border: 2px solid rgb(140, 178, 235);
		width: 400px;
		margin: 10px 10px ;
		padding: 10px 10px;
		img{
			height: 150px;
			width: 150px;
			border-radius: 20px;
			margin-right: 20px;
		}
		.info{
			display: flex;
			flex-direction: column;
			font-size: 17px;
			.info-item{
				margin-top: 3px;
			}
			.name{
				font-size: 22px;
				font-weight: 600;
			}
			.btn-container{
				display: flex;
				button{
					font-size: 16px;
					padding: 5px;
					margin-right: 10px;
				}
			}
		}
	}
}