
.messenger{
	display: flex;
	justify-content: center;
	height: calc(100vh - 50px);
	// background: rgb(142, 227, 241);

	.messenger-wrapper{
		width: 100%;
		display: flex;
		max-width: 1400px;
		margin-top: 10px;
		.chat-left{
			flex: 3.25;
			overflow-y: scroll;
			&::-webkit-scrollbar {width: 5px;}
			&::-webkit-scrollbar-track {background-color: #f1f1f1;}
			&::-webkit-scrollbar-thumb {background-color: rgb(179, 179, 179);}

			.chat-left-wrapper{
				.search-friend{
					width: 100%;
					height: 30px;
					outline: none;			
					border:none;
					border-bottom: 2px solid black;
					font-size: 16px;
					padding-left: 10px;
				}

				.search-result-item{
					background-color: rgb(135, 197, 248);
					color: black;
					width: 100%;
					text-align: center;
					padding: 5px 5px;
					border-bottom:1px solid black;
					border-radius: 10px;
					text-decoration: none;
					&:hover{
						background-color: rgb(68, 166, 247);
					}
				}
			}
		}
		.chat-center{
			flex: 5.5;
			position: relative;
			
			.no-chat-selected{
				font-size: 2rem;
				font-weight: 600;
				color:lightgrey;
				text-align: center;
				margin-top: 10%;
			}
			.chat-center-wrapper{
				display: flex;
				flex-direction: column;

				.chat-center-top{
					height: calc(70vh);
					overflow-y: scroll;
					&::-webkit-scrollbar {width: 5px;}
					&::-webkit-scrollbar-track {background-color: #f1f1f1;}
					&::-webkit-scrollbar-thumb {background-color: rgb(179, 179, 179);}
				}
				.chat-center-bottom{
					form{
						
						position: relative;
						textarea{
							resize: none;
							width: 85%;
							max-height: 20vh;
							outline: none;
							border-radius: 20px;
							padding: 20px;
							margin: 20px 0;
							font-size: 18px;
						}	
						.sending-process{
							position: absolute;
							bottom: 0;
							right :0;
						}	
						.send-btn{
							position: absolute;
							bottom: 50%;
							right: 0;
							margin-left: 10px;
							cursor: pointer;
							padding: 8px;
							color: white;
							background-color: rgb(17, 128, 219);
							border: none;
							border-radius: 10px;
						}
					}
				}	
			}
			
		}	
		.chat-right{
			flex: 3.25;
			overflow-y: scroll;
			&::-webkit-scrollbar {width: 5px;}
			&::-webkit-scrollbar-track {background-color: #f1f1f1;}
			&::-webkit-scrollbar-thumb {background-color: rgb(179, 179, 179);}
			.heading{
				color: rgb(5, 24, 201);
				font-size: 25px;
				font-family: cursive;
			}
			.chat-right-wrapper {
				padding: 10px;
				li{
					cursor: pointer;
					&:hover{
						background-color: rgb(245, 243, 243);
						transform:none;
						font-weight: 500;
					}
					
				}
				
			}
		}
	}
}

@media screen and (max-width :768px ) {
	.chat-left .chat-left-wrapper .conversation-name {
		display: none;
	}
	.chat-right .chat-right-wrapper li .name {
		display: none;
	}
 }
