.topbar{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(38, 76, 202);
	height: 50px;

	position: sticky;
	top: 0;
	z-index: 999;
	.topbar-left{
		flex: 3;
		display: flex;
		align-items: center;
		.topbar-logo{
			margin-left: 30px;
			font-size: 24px;
			font-weight: bold;
			color: white;
		}
	}
	.topbar-center{
		flex: 4;
		height: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.search{
			background-color: white;
			border-radius: 50px;
			width: 100%;
			height: 30px;
			margin-top: 10px;

			display: flex;
			align-items: center;
			flex-direction: row;
			.search-icon{
				display: block;
			}
			input{
				width: 100%;
				border: none;
				border-radius: 10px;
				outline: none;
				font-size: 16px;
			}
		}
		.search-result{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			.search-result-item{
				background-color: rgb(135, 197, 248);
				color: black;
				width: 100%;
				text-align: center;
				padding: 5px 5px;
				border-bottom:1px solid black;
				border-radius: 10px;
				text-decoration: none;
				&:hover{
					background-color: rgb(68, 166, 247);
				}
			}
			
		}
	}
	.topbar-right{
		flex: 5;
		display: flex;
		align-items: center;
		justify-content: space-around;
		.topbar-link-container{
			.topbar-link{
				color: white;
				margin-left:15px;
				font-size: 18px;
				font-weight: 500;
				cursor: pointer;
				&:hover{
					color: rgb(184, 223, 238);
				}
			}
		}
		.topbar-icon-container{
			display: flex;
			align-items: center;
			justify-items: center;
			.topbar-icon-item{
				margin: 0 10px;
				position: relative;
				.topbar-icon{
					color: white;
					font-size: 25px;
					cursor: pointer;
					&:hover{
						color: rgb(184, 223, 238);
						transform: scale(1.3);;
					}
				}
				.topbar-icon-badge{
					color: white;
					background-color: red;
					border-radius: 50%;
					height: 15px;
					width: 15px;
					font-size: 14px;

					position: absolute;
					top: -5px;
					right: -5px;

					display: flex;
					align-items: center;
					justify-content: center;
				}

				.notificationList{
					list-style: none;
					background:rgb(238, 238, 238);
					border-radius: 10px;
					position:absolute;
					top: 39px;
					width: 130px;
					height: 50vh;
					overflow-y: scroll;
					// display: none; 
					// word-wrap: normal;
					.notificationListItem{
						padding: 3px 2px ;
						border-bottom: 1px solid black;
					}
					.notificationButton{
						margin: 2px 2px;
						background:blue;
						color:white;
						padding: 5px 5px;
						border-radius: 10px;
						border: none;
						cursor: pointer;
						
					}
					
				}
			}
		}
		img{
			height: 50px;
			width: 50px;
			border-radius: 50%;
			object-fit: cover;
			&:hover{
				cursor: pointer;
			}
		}
	}
}


.navbar-menu{
	display: none;
	z-index: 5;
}

@media only screen and (max-width: 1100px) {
	.navbar-menu-link-text{
		display: none;
	}
	.topbar-right{
		justify-content: center !important;
	}
	.topbar-logo{
		margin: 0 10px !important;
	}
} 
@media only screen and (max-width: 654px) {
	.topbar-center{
		display: none !important;
	}
}
@media only screen and (max-width: 430px) {
	.navbar-menu-link-text{
		display: inline;
	}
	// .topbar-center{
	// 	display: block !important;
	// }
	
	.navbar-menu{
		display: block;
	}
	.topbar{
		display: flex;
		flex-direction: column;
		background: black;
		color: white;
		position: sticky;
		.topbar-right{
			display: flex;
			flex-direction: column;
			justify-content: start;
			position: absolute;
			justify-content: center !important;
			background-color: black;
			width: 100vw;
			height: 80vh;
			.topbar-link-container{
				display: flex;
				flex-direction: column; 
				.text-link{
					margin-bottom:20px;
				}
			}
			.topbar-icon-container{
				display: flex ; 
				margin-bottom: 20px;
			}
		}
		.topbar-right-hide{
			transform: translateY(-100vh);
			transition: cubic-bezier(0.075, 0.82, 0.165, 1);
			transition-duration: 2s;
		}
		.topbar-right-show{
			transform: translateY(40vh);
			transition: cubic-bezier(0.075, 0.82, 0.165, 1);
			transition-duration: 2s;
		}
	}
}