.topbar{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(38, 76, 202);
	height: 50px;

	position: sticky;
	top: 0;
	.topbar-left{
		flex: 3;
		.topbar-logo{
			margin-left: 30px;
			font-size: 24px;
			font-weight: bold;
			color: white;
		}
	}
	.topbar-center{
		flex: 5;
		height: 50px;
		display: flex;
		align-items: center;
		.search{
			background-color: white;
			width: 100%;
			border-radius: 50px;
			display: flex;
			align-items: center;
			height: 30px;
			.search-icon{
				
			}
			input{
				width: 94%;
				border: none;
				outline: none;
				font-size: 16px;
			}
		}
	}
	.topbar-right{
		flex: 5;
		display: flex;
		align-items: center;
		justify-content: space-around;
		.topbar-link-container{
			.topbar-link{
				color: white;
				margin: 0 20px;
				font-size: 18px;
				font-weight: 500;
			}
		}
		.topbar-icon-container{
			display: flex;
			align-items: center;
			justify-items: center;
			.topbar-icon-item{
				margin: 0 5px;
				position: relative;
				.topbar-icon{
					color: white;
				}
				.topbar-icon-badge{
					color: white;
					background-color: red;
					border-radius: 50%;
					height: 15px;
					width: 15px;
					font-size: 14px;

					position: absolute;
					top: -5px;
					right: -5px;

					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
		img{
			height: 50px;
			width: 50px;
			border-radius: 50%;
			object-fit: cover;
		}
	}
}